.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.void-height {
    height: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

// write mixin here for the above code
