.header {
    position: relative;
    display: flex;
    background-color: red;
    max-height: 140px;
    justify-content: center;
    .left-section-header {
        justify-content: flex-start;
        text-align: center;
    }
    .center-section-header {
        justify-content: center;
        text-align: center;
    }
    .right-section-header {
        justify-content: flex-end;
        text-align: center;
    }
}