<!-- note: this is the header section of my website! -->
<div class="header">
    <div class="left-section-header col-md-4">
        Hossein Mousavi
    </div>
    <div class="center-section-header col-md-4">
        <img src="/assets/images/header/Brand.png" alt="image not available">
    </div>
    <div class="right-section-header col-md-4">
        <!-- note here will come some bunch of icons  -->
        <a href=".contact-me" class="button btn-default text-uppercase contact-me">contact me</a>
    </div>
</div>