::-webkit-scrollbar {
    width: 4px;
    overflow-y: scroll;
    background: #242430;
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: #ffc107;
    border-radius: 10px;
}
