@layer base {
    .tw-h-10 {
        height: 10% !important;
    }
    .tw-h-90 {
        height: 10% !important;
    }

    .input-text-area-dark-theme {
        background-color: theme('colors.custom-purple.500');
        color: theme('colors.custom-grey.500');
        &:focus + label {
            background-color: theme('colors.custom-yellow.500');
            color: theme('colors.custom-purple.900');
        }
    }

    .input-text-area-light-theme {
        color: theme('colors.custom-grey.900');
        background-color: theme('colors.custom-grey.200');
        &:focus + label {
            background-color: theme('colors.custom-purple.500');
            color: theme('colors.custom-yellow.500');
        }
    }

    .input-icon-dark-theme {
        background-color: theme('colors.custom-purple.900');
        color: theme('colors.custom-grey.500');
    }

    .input-icon-light-theme {
        background-color: theme('colors.custom-grey.500');
        color: theme('colors.custom-purple.900');
    }
}
