<div>
    <mat-tab-group animationDuration="1000ms" class="mat-elevation-z10 hidden md:grid" dynamicHeight>
        <mat-tab
            *ngFor="let expertise of expertiseHeaders"
            labelClass="dark:bg-custom-purple-500 dark:text-custom-yellow-500 bg-custom-blue-700 text-custom-blue-600 w-1/3"
        >
            <ng-template class="flex-grow-0" mat-tab-label>
                <mat-icon class="mx-2 dark:text-custom-yellow-500 text-custom-blue-600">{{ expertise.icon }}</mat-icon>
                <span>{{ expertise.title }}</span>
            </ng-template>
            <app-expertise-card [componentMinHeight]="'700px'" [expertiseType]="expertise.type"></app-expertise-card>
        </mat-tab>
    </mat-tab-group>
</div>

<div class="flex flex-col">
    <mat-form-field appearance="outline" class="md:hidden block dark:bg-custom-purple-500 bg-custom-blue-700 mb-5 p-0">
        <mat-select [formControl]="selected" disableRipple panelClass="dark:bg-custom-purple-500">
            <mat-select-trigger class="flex items-center dark:text-custom-yellow-500">
                <mat-icon class="mx-2 dark:text-custom-yellow-500 text-custom-blue-600">{{ getProperNameForSelectBox('icon') }}</mat-icon>
                <span class="dark:text-custom-yellow-500 text-custom-blue-600">{{ getProperNameForSelectBox('title') }}</span>
            </mat-select-trigger>

            <mat-option
                *ngFor="let expertiseHeader of expertiseHeaders"
                [value]="expertiseHeader.type"
                class="dark:bg-custom-purple-500 dark:text-custom-yellow-500 bg-custom-blue-700 text-custom-blue-600"
            >
                <mat-icon class="mx-2 dark:text-custom-yellow-500 text-custom-blue-600">{{ expertiseHeader.icon }}</mat-icon>
                <span>{{ expertiseHeader.title }}</span>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <app-expertise-card [componentMinHeight]="'700px'" [expertiseType]="selected.value" class="md:hidden block"></app-expertise-card>
</div>
