<mat-card class="py-5 dark:bg-custom-purple-900 bg-custom-blue-700 dark:text-white mat-elevation-z10">
    <mat-card-header class="dark:text-custom-grey-500 text-custom-purple-900">
        <div class="px-2" mat-card-avatar>
            <mat-icon class="dark:text-custom-yellow-500 text-custom-blue-600">chat</mat-icon>
        </div>
        <mat-card-title class="font-semibold">You Can Also Send Me A Message!</mat-card-title>
    </mat-card-header>

    <!--    <mat-divider inset></mat-divider>-->

    <mat-card-content>
        <form name="contact-form" method="POST" data-netlify="true" id="contact-form" class="flex flex-col justify-around">
            <input type="hidden" name="form-name" value="contact-form" />
            <div class="flex items-center my-5">
                <input
                    class="order-last input-textarea dark:input-text-area-dark-theme input-text-area-light-theme"
                    id="name"
                    name="name"
                    placeholder="Name"
                    required
                    type="text"
                />
                <label class="input-icon dark:input-icon-dark-theme input-icon-light-theme" for="name">
                    <mat-icon class="order-first">person_outline</mat-icon>
                </label>
            </div>

            <div class="flex items-center my-5">
                <input
                    class="order-last input-textarea dark:input-text-area-dark-theme input-text-area-light-theme"
                    id="email"
                    name="email"
                    placeholder="Email"
                    required
                    type="email"
                />
                <label class="input-icon dark:input-icon-dark-theme input-icon-light-theme" for="email">
                    <mat-icon class="order-first">alternate_email</mat-icon>
                </label>
            </div>

            <div class="flex items-center my-5">
                <textarea
                    class="order-last px-5 py-5 input-textarea dark:input-text-area-dark-theme input-text-area-light-theme"
                    id="message"
                    name="message"
                    placeholder="Message"
                    required
                    type="text"
                ></textarea>

                <label class="textarea-icon dark:input-icon-dark-theme input-icon-light-theme" for="message">
                    <mat-icon class="order-first">email</mat-icon>
                </label>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions class="mx-1 flex justify-end">
        <button
            class="flex items-center dark:bg-custom-yellow-500 bg-custom-blue-600 dark:text-custom-purple-900 text-yellow-500"
            type="submit"
            form="contact-form"
            disableRipple
            mat-flat-button
        >
            <mat-icon class="mr-2"> check_circle</mat-icon>
            <span>Submit Message</span>
        </button>
    </mat-card-actions>
</mat-card>
