<mat-card class="flex flex-col p-0 md:flex-row dark:bg-custom-purple-900 dark:text-white bg-custom-blue-700 mat-elevation-z24">
    <mat-card-header class="flex flex-col dark:bg-custom-yellow-500 bg-custom-blue-600 dark:text-custom-purple-900 text-custom-yellow-500 p-5">
        <div class="order-last flex justify-center">
            <a [href]="componentInfo.generalLink" target="_blank">
                <img
                    [src]="'../../../assets/images/' + componentInfo.imageUrl"
                    [matTooltip]="componentInfo.organization"
                    [alt]="componentInfo.organization"
                    matTooltipPosition="below"
                    class="main-img"
                />
            </a>
        </div>
        <mat-card-title class="font-semibold order-1 text-center">{{ componentInfo.subject }}</mat-card-title>
        <mat-card-subtitle class="dark:text-custom-purple-900 text-custom-yellow-500 order-2 mb-0 text-center">
            {{ componentInfo.organization }}
        </mat-card-subtitle>
    </mat-card-header>

    <mat-divider class="border dark:border-gray-900 border-custom-blue-100" vertical></mat-divider>

    <mat-card-content class="mb-0 mx-5 flex flex-col p-5">
        <h1 class="flex items-center">
            <mat-icon class="mr-2 dark:text-custom-yellow-500 text-custom-blue-600"> {{ componentType.icon }} </mat-icon>
            <span> {{ componentType.type }}</span>
        </h1>

        <h1 class="mb-0 text-lg">{{ componentInfo.description }}</h1>
    </mat-card-content>

    <mat-divider class="border dark:border-gray-800 border-custom-blue-100" vertical></mat-divider>

    <mat-card-actions class="mx-1 flex flex-col justify-between items-start md:items-end p-5 mb-2 sm:mb-0">
        <div *ngFor="let componentLink of componentInfo.links">
            <a
                [href]="componentLink.link"
                class="flex items-center my-4 sm:my-0"
                target="_blank"
                [matTooltip]="'Listen On ' + componentLink.name"
                matTooltipPosition="below"
            >
                <span class="mx-4 order-last md:order-first"> {{ componentLink.name }}</span>
                <img [src]="'../../../assets/images/' + componentLink.imageUrl" [alt]="componentLink.name" class="podcast-item-img" />
            </a>
        </div>
    </mat-card-actions>
</mat-card>
