mat-card {
    mat-card-header {
        .main-img {
            width: 170px;
        }
        flex: 1;
    }
    mat-card-content {
        flex: 2;
    }
    mat-card-actions {
        .podcast-item-img {
            height: 50px;
        }
        flex: 1;
    }
}
