::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: theme('colors.custom-yellow.500') !important;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

::ng-deep .mat-select-arrow {
    color: theme('colors.custom-yellow.500');
}

.mat-button-toggle-checked {
    background-color: theme('colors.custom-yellow.500') !important;
    color: theme('colors.custom-purple.500') !important;
}
