<mat-card class="py-5 dark:bg-custom-purple-900 dark:text-white bg-custom-blue-700 mat-elevation-z10">
    <mat-card-header>
        <div mat-card-avatar>
            <a [href]="article.publicationUrl">
                <img
                    [src]="'../../../assets/images/' + article.publisher.toLowerCase() + '.png'"
                    [matTooltip]="article.publisher"
                    [alt]="article.publisher"
                    matTooltipPosition="below"
                />
            </a>
        </div>
        <mat-card-title class="font-semibold leading-snug">{{ article.title }}</mat-card-title>
        <mat-card-subtitle class="dark:text-custom-yellow-500 text-custom-blue-600">
            <a [href]="article.publicationUrl">
                {{ article.publisher }}
            </a>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-divider inset></mat-divider>

    <mat-card-content>
        <img [src]="article.imgUrl" alt="article image" class="article-image" />
        <p class="mt-3">{{ article.summary }}</p>
    </mat-card-content>
    <mat-card-actions class="mt-3 mx-1 flex justify-between items-center">
        <app-label class="mr-2 my-1" [labelText]="article.category" fontSize="12px"></app-label>

        <a [href]="article.url" class="mt-4" target="_blank">
            <button
                class="flex items-center dark:text-custom-yellow-500 text-custom-blue-600"
                disableRipple
                mat-stroked-button
                matTooltip="Click to read the article"
                matTooltipHideDelay="500"
                matTooltipPosition="below"
            >
                <mat-icon class="mr-2"> local_library</mat-icon>
                <span>Read The Article</span>
            </button>
        </a>
    </mat-card-actions>
</mat-card>
