mat-card {
    height: 550px;
    mat-card-header {
        height: 85px;
    }
    mat-card-content {
        height: 350px;
    }
    .article-image {
        height: 300px;
        width: 100%;
    }
}
