mat-card {
    min-height: 550px;

    mat-card-header {
        min-height: 85px;
    }

    mat-card-content {
        min-height: 350px;
    }

    .article-image {
        height: 300px;
        width: 100%;
    }
}
