button {
    background: rgba(75, 217, 213, 0.2);
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px #8c8c8e;
    font-size: 20px;
    font-weight: 900;
    padding: 0.5em 1em;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
    width: 200px;
    display: flex;
    justify-content: center;
}
.border-animation {
    overflow: hidden;
    position: relative;
}
.border-animation::before,
.border-animation::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    border: 2px solid transparent;
    width: 0;
    height: 0;
}
.border-animation::before {
    top: 0;
    left: 0;
    border-top-color: red;
    border-right-color: yellow;
    animation: border 4s infinite;
}
.border-animation::after {
    bottom: 0;
    right: 0;
    animation: border 4s 2s infinite, borderColor 4s 2s infinite;
}

@keyframes border {
    0% {
        width: 0;
        height: 0;
    }
    25% {
        width: 100%;
        height: 0;
    }
    50% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}
@keyframes borderColor {
    0% {
        border-bottom-color: cyan;
        border-left-color: lawngreen;
    }
    50% {
        border-bottom-color: cyan;
        border-left-color: lawngreen;
    }
    51% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}
