<mat-card class="py-5 dark:bg-custom-purple-900 dark:text-white bg-custom-blue-700 mat-elevation-z10">
    <mat-card-header class="mb-5">
        <div class="flex items-center">
            <a [href]="company.website" class="mr-5" target="blank">
                <img
                    [src]="'../../../assets/images/experience/' + company.logoUrl.toLowerCase() + '.png'"
                    matTooltip="Click To Visit Website"
                    [alt]="company.name"
                    matTooltipPosition="below"
                    class="company-img dark:rounded-full dark:bg-white"
                />
            </a>
            <div class="flex flex-col justify-center">
                <mat-card-title class="font-semibold leading-snug flex items-center">
                    {{ job.jobTitle }}
                    <span class="text-sm mx-2">({{ job.employmentType }})</span>
                </mat-card-title>
                <mat-card-subtitle class="dark:text-custom-yellow-500 text-custom-blue-600 mb-0">
                    {{ company.name }}
                </mat-card-subtitle>
            </div>
        </div>

        <app-label class="ml-auto hidden sm:block" [labelText]="job.startDate + ' - ' + job.endDate"></app-label>
    </mat-card-header>

    <mat-divider inset></mat-divider>

    <mat-card-content>
        <div>
            <span> {{ job.jobDescription }}</span>
        </div>

        <div class="mt-4">
            <span class="dark:text-custom-yellow-500 text-custom-blue-400 mr-2">About Company:</span>
            <span>{{ company.description }}</span>
        </div>
    </mat-card-content>

    <mat-divider class="border border-custom-purple-100 mb-2"></mat-divider>

    <mat-card-actions class="flex flex-col px-5">
        <div class="my-4 flex items-center">
            <mat-icon class="dark:text-custom-yellow-500 text-custom-blue-600">design_services</mat-icon>
            <span class="mx-2">Required Skills For This Position</span>
        </div>
        <div class="flex flex-wrap">
            <app-label *ngFor="let skill of job.jobRequiredSkills" class="mr-2 my-1" [labelText]="skill"></app-label>
        </div>
    </mat-card-actions>
</mat-card>
