.vertical-text {
    writing-mode: vertical-rl;
}
.image-border {
    border-radius: 50%;
    width: 150px;
}
.sidenav-header {
    height: 80px;
}
.sidenav-background {
    background: url('../assets/images/dot-background-vertical.png');
}
