.vertical-text {
    writing-mode: vertical-rl;
}
.image-border {
    border-radius: 50%;
    width: 150px;
}
.sidenav-header {
    height: 80px;
}
.sidenav-background {
    background: url('../assets/images/dot-background-vertical.png');
}

::ng-deep .mat-tooltip {
    min-width: 100px;
    max-width: 150px;
    background-color: #673ab7;
    text-align: center;
    font-size: 16px;
}
