<mat-sidenav-container class="h-screen flex flex-col" [ngClass]="isDarkTheme ? 'dark' : 'light'">
    <mat-sidenav #sidenav mode="side" position="end" class="text-custom-grey-500 fixed md:flex bg-custom-purple-500">
        <aside class="flex flex-col justify-between h-screen">
            <header class="flex flex-col items-center py-6 lg:py-0">
                <button mat-icon-button disableRipple (click)="sidenav.toggle()" class="lg:hidden flex justify-start items-center w-full px-6 py-2">
                    <mat-icon>close</mat-icon>
                </button>
                <div class="sidenav-header hidden lg:block"></div>
            </header>

            <section class="bg-custom-purple-900 justify-center flex flex-col items-center text-center px-24 h-full sidenav-background">
                <nav class="flex flex-col">
                    <a routerLink="home" (click)="clickHandler()" routerLinkActive="active"><h1>Home</h1></a>
                    <a routerLink="about" (click)="clickHandler()" routerLinkActive="active"><h1>About</h1> </a>
                    <a routerLink="contact" (click)="clickHandler()" routerLinkActive="active"><h1>Contact</h1> </a>
                </nav>
            </section>

            <footer class="py-5 lg:py-1 mx-auto">
                <button mat-icon-button (click)="changeTheme()" class="lg:hidden">
                    <span class="flex flex-col items-center dark:text-custom-yellow-500">
                        <mat-icon>{{ isDarkTheme ? 'dark_mode' : 'light_mode' }}</mat-icon>
                    </span>
                </button>
                <div class="sidenav-header hidden lg:block"></div>
            </footer>
        </aside>
    </mat-sidenav>

    <mat-sidenav
        #infoSidenav
        mode="side"
        [opened]="screenWidth > 1023"
        position="start"
        class="text-custom-grey-500 fixed md:flex bg-custom-purple-500 lg:w-1/5"
    >
        <div class="flex flex-col justify-between h-screen">
            <header class="flex flex-col items-center">
                <button mat-icon-button disableRipple (click)="infoSidenav.toggle()" class="md:hidden flex justify-end w-full px-6 py-2">
                    <mat-icon>close</mat-icon>
                </button>

                <div class="flex flex-col items-center py-10">
                    <img src="../assets/images/profile-pic.jpg" class="image-border" alt="hossein mousavi profile picture" />
                    <h1 class="mb-0">Hossein Mousavi</h1>
                    <label class="text-custom-grey-900">Software Developer</label>
                </div>
            </header>

            <section class="bg-custom-purple-900 h-full flex flex-col items-center">
                <!--                <div class="flex flex-col items-center pt-10">-->

                <app-base-info class="w-4/5 mt-5"></app-base-info>

                <mat-divider class="bg-custom-grey-900 w-4/5 my-5"></mat-divider>

                <div class="flex justify-evenly w-full">
                    <app-progress-spinner
                        class="mt-2"
                        appProgressSpinner
                        [color]="isDarkTheme ? '#FFC107' : 'blue'"
                        *ngFor="let language of languagesList"
                        [progressSpinnerSetting]="language"
                    ></app-progress-spinner>
                </div>

                <!--                <app-info-sidenav-reach-me class="flex flex-1"></app-info-sidenav-reach-me>-->

                <!--                </div>-->
            </section>

            <footer class="px-4 py-8">
                <p class="h-full flex items-center justify-center text-custom-grey-900">
                    © 2022 Hossein Mousavi.
                    <a target="blank" href="https://creativecommons.org/licenses/by/4.0/">All rights reserved.</a>
                </p>
            </footer>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="flex">
        <section class="flex flex-col flex-1 justify-between bg-red-500">
            <mat-toolbar class="sidenav-header flex justify-between lg:hidden sticky dark:bg-custom-purple-900 dark:text-custom-grey-500 py-11">
                <button mat-icon-button (click)="infoSidenav.toggle()">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <h1 class="py-6">Hossein Mousavi</h1>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </mat-toolbar>

            <div class="h-full overflow-y-auto flex flex-col items-center">
                <router-outlet></router-outlet>
            </div>
        </section>

        <div class="h-screen flex flex-col items-center text-custom-grey-500 bg-custom-purple-500 hidden lg:block">
            <aside class="flex flex-col justify-between h-screen bg-custom-purple-500">
                <header class="hover:text-custom-grey-100 py-5 flex items-center justify-center px-5 cursor-pointer" (click)="sidenav.toggle()">
                    <button mat-icon-button>
                        <mat-icon>{{ sidenav.opened ? 'close' : 'menu' }}</mat-icon>
                    </button>
                </header>

                <section class="bg-custom-purple-900 vertical-text flex items-center pt-20 h-full sidenav-background">
                    <h1>home</h1>
                </section>

                <footer class="text-custom-yellow-500 w-full flex flex-col justify-center py-6 items-center">
                    <button mat-icon-button (click)="changeTheme()">
                        <mat-icon>{{ isDarkTheme ? 'dark_mode' : 'light_mode' }}</mat-icon>
                    </button>
                </footer>
            </aside>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
