<mat-toolbar class="flex justify-between lg:hidden">
    <button mat-icon-button (click)="infoSidenav.toggle()">
        <mat-icon>more_vert</mat-icon>
    </button>
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container class="h-screen flex flex-col" [ngClass]="isDarkTheme ? 'dark' : 'light'">
    <mat-sidenav #sidenav mode="side" position="end" class="text-custom-grey-500">
        <div class="tw-h-10 flex items-center justify-center bg-custom-purple-500 px-7"></div>

        <div class="h-4/5 bg-custom-purple-900 w-full justify-center flex flex-col items-center px-32">
            <nav class="flex flex-col">
                <a routerLink="home" (click)="clickHandler()" routerLinkActive="active"><h1>Home</h1></a>
                <a routerLink="about" (click)="clickHandler()" routerLinkActive="active"><h1>About</h1> </a>
                <a routerLink="contact" (click)="clickHandler()" routerLinkActive="active"><h1>Contact</h1> </a>
            </nav>
        </div>

        <div class="tw-h-10 bg-custom-purple-500 w-full"></div>
    </mat-sidenav>

    <mat-sidenav #infoSidenav mode="side" [opened]="screenWidth > 1023" position="start" class="text-custom-grey-500 fixed md:flex">
        <div class="flex flex-col justify-between h-screen bg-custom-purple-500">
            <header class="flex flex-col items-center">
                <button mat-icon-button disableRipple (click)="infoSidenav.toggle()" class="md:hidden flex justify-end w-full px-6 py-2">
                    <mat-icon>close</mat-icon>
                </button>

                <div class="flex flex-col items-center py-10">
                    <img src="../assets/images/profile-pic1.jpg" class="image-border" alt="hossein mousavi profile picture" />
                    <h1 class="mb-0">Hossein Mousavi</h1>
                    <label class="text-custom-grey-900">Software Developer</label>
                </div>
            </header>

            <section class="bg-custom-purple-900 h-full">
                <div class="flex justify-around pt-10">
                    <app-progress-spinner
                        appProgressSpinner
                        [color]="isDarkTheme ? '#FFC107' : 'red'"
                        *ngFor="let language of languagesList"
                        [progressSpinnerSetting]="language"
                    ></app-progress-spinner>
                </div>
            </section>

            <footer class="px-4">
                <p class="h-full flex items-center justify-center text-custom-grey-900">
                    © 2021 Hossein Mousavi.
                    <a target="blank" href="https://creativecommons.org/licenses/by/4.0/">All rights reserved.</a>
                </p>
            </footer>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="flex">
        <section class="flex flex-1">
            <router-outlet></router-outlet>
            <h1>dastan</h1>
        </section>

        <!-- this is the button for hamburger button -->
        <div class="h-screen flex flex-col items-center text-custom-grey-500 hidden lg:block">
            <div
                class="tw-h-10 hover:text-custom-grey-100 flex items-center justify-center bg-custom-purple-500 px-5 cursor-pointer"
                (click)="sidenav.toggle()"
            >
                <button mat-icon-button>
                    <mat-icon>{{ sidenav.opened ? 'close' : 'menu' }}</mat-icon>
                </button>
            </div>

            <div class="h-4/5 bg-custom-purple-900 w-full vertical-text flex items-center pt-20">
                <h1>home</h1>
            </div>

            <div class="tw-h-10 bg-custom-purple-500 text-custom-yellow-500 w-full flex flex-col justify-center items-center">
                <button mat-icon-button (click)="changeTheme()">
                    <mat-icon>{{ isDarkTheme ? 'dark_mode' : 'light_mode' }}</mat-icon>
                </button>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
