.vertical-text {
    writing-mode: vertical-rl;
    cursor: default;
}

.image-border {
    border-radius: 50%;
    width: 150px;
}

.google-icon {
    width: 25px;
}

.sidenav-header {
    height: 80px;
}

::ng-deep .mat-tooltip {
    min-width: 100px;
    max-width: 150px;
    background-color: theme('colors.custom-purple.100');
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.void-height {
    height: 40px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}
