<mat-card class="py-5 dark:bg-custom-grey-900 dark:text-white bg-custom-blue-700 mat-elevation-z10 h-full">
    <mat-card-header class="mb-5">
        <div class="flex items-center">
            <div class="flex flex-col justify-center">
                <mat-card-title class="font-semibold leading-snug">Skills</mat-card-title>
                <mat-card-subtitle class="dark:text-custom-yellow-500 text-custom-blue-600 mb-0"> List Of Required Skills For This Position </mat-card-subtitle>
            </div>
        </div>
    </mat-card-header>

    <mat-divider inset></mat-divider>

    <mat-card-content class="flex flex-wrap">
        <div *ngFor="let skill of skills" class="m-2">
            <app-label class="" [labelText]="skill"></app-label>
        </div>
    </mat-card-content>
</mat-card>
