<mat-card class="dark:bg-custom-purple-900 bg-custom-blue-700 dark:text-white mat-elevation-z10 contact-link-container flex mat-elevation-z10 flex-col">
    <mat-card-header class="dark:text-custom-grey-500 text-custom-purple-900 flex-shrink-0 flex items-center">
        <div class="flex items-center m-0" mat-card-avatar>
            <mat-icon class="dark:text-custom-yellow-500 text-custom-blue-600">{{ header.icon }}</mat-icon>
        </div>
        <mat-card-title class="flex items-center font-semibold mb-0" *transloco="let t; read: 'contact.social'">{{ t(header.type) }}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="flex mt-5 sm:my-5 flex-grow overflow-auto">
        <section class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-4 mb-5 overflow-x-hidden">
            <button *ngFor="let socialMedia of socialMedias" class="flex contact-icons dark:text-custom-grey-500 dark:hover:text-custom-yellow-500">
                <a [href]="socialMedia.url" class="flex items-center" target="_blank">
                    <img [alt]="socialMedia.name" [src]="socialMedia['imageLink']" />
                    <span class="mx-2">{{ socialMedia.name }}</span>
                </a>
            </button>
        </section>
    </mat-card-content>
    <mat-card-actions>
        <mat-divider class="border w-full dark:border-custom-yellow-500 border-custom-blue-400"></mat-divider>
    </mat-card-actions>
</mat-card>
