<div class="header">
    <div class="left-header col-md-4 col-sm-12">
        here come the navbar
    </div>
    <div class="center-header col-md-4 col-sm-12">
        <div class="name-logo">
            <h1 class="first-name text-uppercase">hossein</h1>
            <img src="../../assets/images/header/Brand.png" alt="Image Not available">
            <h1 class="first-name text-uppercase">mousavi</h1>
        </div>
   </div>
    <div class="right-header col-md-4 col-sm-12">
        and here is the place for contacting me and social icons    
    </div>
</div>