<div class="header">
  <div class="sidebar col-md-2">
    <div class="logo">
      <img src="../../assets/images/header/Brand.png" alt="Image Not Available">
    </div>
    <hr>
    <div class="navbar text-uppercase">
      <nav>
        <div class="nav-bar-item"><a href="">home</a></div>
        <div class="nav-bar-item"><a href="">about me</a></div>
        <div class="nav-bar-item"><a href="">portfolio</a></div>
        <div class="nav-bar-item"><a href="">contact me</a></div>
      </nav>
      <!-- TODO: this will be the place of social media icons -->
    </div>
  </div>
  <div class="header-introduce col-md-10">
    <!-- <div class="profile-picture">
      <img src="../../assets/images/header/profile.jpg" alt="Image Not Available">
    </div> -->
  </div>
</div>
