// these colors are mostly used in main elemnts of theme such as buttons and backgrounds
$primary-colors: (
  "light": #e6e6e6,
  "dark": #212121,
  "bgcolor": #707070,
  "logo": #ac0303
);
$secondary-colors: (
  "light": #1f6821,
  "dark": #1b5c1d
);

$neutral-colors: (
  "1": #ffffff,
  "2": #f8fcfd,
  "3": #f0f0f0,
  "4": #e5e5e5,
  "5": #ced2d2,
  "6": #cccccc,
  "7": #565656,
  "8": #000000
);

@mixin customized-color($property, $color, $opacity: 1) {
  #{$property}: rgba($color, $opacity);
}

/* to use this color please follow the bellow instruction:
@import "../../../partial-styles/colors";
background-color: map-get($neutral-colors, "1");
*/