mat-card {
    @media screen and (width <= 767px) {
        height: 500px;
    }

    height: calc(100vh - 220px);
}
.background-card {
    @media screen and (width >= 767px) {
        section {
            min-height: 550px;
        }
    }
    &:before {
        content: '';
        background: url('../../../assets/images/mobile-header-back2.webp') center;
        background-size: cover;
        object-fit: contain;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
    }
    @media screen and (min-width: 768px) {
        &:before {
            content: '';
            background: url('../../../assets/images/header-back3.webp') center;
            background-size: cover;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.5;
        }
    }
}

.home-header-type-effect {
    height: 80px;
}

.home-header-button {
    min-width: 150px;
}

.border-button {
    animation-name: btn-border-top;
    animation-duration: 2000ms;
    @keyframes btn-border-top {
        0% {
            left: auto;
            right: 0;
            width: 0;
        }
        12.5% {
            left: auto;
            right: 0;
            width: 100%;
        }
        12.6% {
            left: 0;
            right: auto;
        }
        50% {
            width: 100%;
        }
        62.5% {
            width: 0;
        }
        100% {
            left: 0;
            right: auto;
            width: 0;
        }
    }
}
