<mat-card class="py-5 dark:bg-custom-purple-900 bg-custom-blue-700 dark:text-white mat-elevation-z10 contact-link-container background-card flex flex-col">
    <mat-card-header class="dark:text-custom-grey-500 text-custom-purple-900 flex-shrink-0 flex items-center"> </mat-card-header>

    <mat-card-content class="flex my-5 flex-grow overflow-auto">
        <section class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-2 gap-6">
            <div class="flex flex-col justify-between flex-1">
                <div class="flex flex-col">
                    <h1 class="dark:text-white font-black text-6xl">Discover My Skills, Works and Contact Me!</h1>

                    <div class="hidden md:flex">
                        <h1 class="dark:text-white font-black flex">
                            <span class="dark:text-custom-yellow-500 text-custom-blue-400">&lt;code&gt;</span>
                            <h1 class="dark:text-white font-black" id="text"></h1>
                            <span class="dark:text-custom-yellow-500 text-custom-blue-400">&lt;/code&gt;</span>
                        </h1>
                    </div>
                </div>

                <div class="grid grid-cols-1 lg:grid-cols-3 2xl:grid-cols-3 gap-14">
                    <button
                        class="flex items-center dark:bg-custom-yellow-500 bg-custom-blue-600 dark:text-custom-purple-500 text-yellow-500 font-semibold m-auto"
                        disableRipple
                        mat-flat-button
                        routerLink="skills"
                    >
                        <mat-icon class="mr-2"> psychology</mat-icon>
                        <span>My Skills!</span>
                    </button>

                    <button
                        class="flex items-center dark:bg-custom-yellow-500 bg-custom-blue-600 dark:text-custom-purple-500 text-yellow-500 font-semibold m-auto"
                        disableRipple
                        mat-flat-button
                        routerLink="contact-me"
                    >
                        <mat-icon class="mr-2"> phone_iphone</mat-icon>
                        <span>Contact Me!</span>
                    </button>
                    <button
                        class="flex items-center dark:bg-custom-yellow-500 bg-custom-blue-600 dark:text-custom-purple-500 text-yellow-500 font-semibold m-auto"
                        disableRipple
                        mat-flat-button
                        routerLink="publications"
                    >
                        <mat-icon class="mr-2"> article </mat-icon>
                        <span>My Blog!</span>
                    </button>
                </div>
            </div>

            <div class="flex-1">
                <!--Here is an empty section for better demonstration of background image-->
            </div>
        </section>
    </mat-card-content>
    <mat-card-actions class="mt-3 mx-1 flex justify-end">
        <mat-divider class="border border-custom-yellow-500 mb-2" inset></mat-divider>
    </mat-card-actions>
</mat-card>
