mat-card {
    @media screen and (max-width: 767px) {
        height: 500px;
    }
}
.background-card {
    @media screen and (min-width: 767px) {
        section {
            min-height: 600px;
        }
    }
    &:before {
        content: '';
        background: url('../../../assets/images/mobile-header-back.webp') center;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
    }
    @media screen and (min-width: 768px) {
        &:before {
            content: '';
            background: url('../../../assets/images/header-back.webp') center;
            background-size: cover;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.5;
        }
    }
}

.home-header-type-effect {
    height: 100px;
}

.home-header-button {
    min-width: 150px;
}
