.hello {
    min-height: calc(100vh - 180px);

    &:before {
        content: '';
        background: url('../../../assets/images/2.jpg') center;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
    }
}

.text-transparency {
    background: rgba(116, 116, 116, 0.2);
}
