<mat-card class="py-5 dark:bg-custom-purple-900 bg-custom-blue-700 dark:text-white mat-elevation-z18 contact-link-container wrapper flex flex-col">
    <div class="rounded-xl flex flex-col font-bolder">
        <h1 class="text-3xl sm:text-4xl dark:text-white text-custom-blue-400 bg-transparent w-full py-2 mt-5 text-center">This is Hossein Mousavi</h1>
    </div>

    <mat-card-content class="flex my-5 flex-grow overflow-auto">
        <ul class="text-lg sm:text-2xl dark:text-white text-custom-blue-400 sm:text-justify px-5 text-transparency w-full py-2 text-left sm:text-center pl-10">
            <li class="sm:list-disc">
                Experienced front-end engineer with over 7 years of industry expertise, I bring a deep understanding and proficiency in TypeScript, Angular, and
                VueJS frameworks to develop robust and scalable web applications. Throughout my career, I have successfully mentored and guided more than 20
                individuals, sharing my knowledge and helping them grow in their technical journey.
            </li>
            <app-divider></app-divider>
            <li class="sm:list-disc">
                With a passion for writing and sharing insights, I have contributed to the developer community by publishing over 10 articles on Medium,
                covering various topics related to front-end development, best practices, and emerging trends. I firmly believe in the importance of code
                quality, and I strive to deliver clean, maintainable, and efficient solutions.
            </li>
            <app-divider></app-divider>
            <li class="sm:list-disc">
                Beyond my technical skills, I possess a keen eye for UI/UX design and believe in creating visually appealing interfaces that offer seamless user
                experiences. Collaborating with cross-functional teams, I thrive in an Agile environment, adapting to changing project requirements and
                delivering high-quality solutions within strict timelines.
            </li>

            <app-divider></app-divider>
            <li class="sm:list-disc">
                Continuously seeking growth and learning opportunities, I am dedicated to staying up-to-date with the latest industry advancements, design
                patterns, and emerging technologies. My strong work ethic, attention to detail, and ability to solve complex problems make me an asset to any
                front-end development team.
            </li>
        </ul>
    </mat-card-content>
    <mat-card-actions class="mt-3 mx-1 flex justify-end">
        <mat-divider class="border w-full border-custom-yellow-500 mb-2"></mat-divider>
    </mat-card-actions>
</mat-card>
