.wrapper {
    min-height: calc(100vh - 180px);

    &:before {
        content: '';
        background: url('../../../assets/images/mobile-header-back.webp') center;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.2;
        @media screen and (min-width: 768px) {
            background: url('../../../assets/images/2.jpg') center;
        }
    }
}

.text-transparency {
    background: rgba(116, 116, 116, 0.1);
}
