@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import 'assets/scss/tailwinds-custom-configuration';
@import 'assets/scss/scrollbar';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
