@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import 'assets/scss/tailwinds-custom-configuration';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
