mat-card {
    &:before {
        content: '';
        background: url('../../../assets/images/not-found.png') center;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.1;
    }
}

.not-found-card {
    height: calc(100vh - 180px);
}

.mat-flat-button {
    border-radius: 0;
}
