<mat-card class="py-5 dark:bg-custom-purple-900 bg-custom-blue-700 dark:text-white mat-elevation-z10 flex flex-col not-found-card">
    <mat-card-header class="dark:text-custom-grey-500 text-custom-purple-900 flex-shrink-0 flex items-center">
        <div class="flex items-center" mat-card-avatar>
            <mat-icon class="dark:text-custom-yellow-500 text-custom-blue-600">fmd_bad</mat-icon>
        </div>
        <mat-card-title class="font-semibold mb-0">404 Page Not Found</mat-card-title>
    </mat-card-header>

    <mat-card-content class="flex flex-col items-center justify-center my-5 mb-5 h-5/6">
        <button
            class="flex items-center dark:bg-custom-yellow-500 bg-custom-blue-600 dark:text-custom-purple-900 text-yellow-500"
            disableRipple
            mat-flat-button
            routerLink=""
        >
            <mat-icon class="mr-2"> keyboard_return</mat-icon>
            <span>Return To Home Page</span>
        </button>
    </mat-card-content>
    <mat-card-actions class="mt-3 mx-1 flex justify-end">
        <mat-divider class="border border-custom-yellow-500 mb-2" inset></mat-divider>
    </mat-card-actions>
</mat-card>
